{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('static/img/astron-sky.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About</h1>
            <span class="subheading">This is who I am.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Here's what you need to know, I'm just a guy in University who's learning how to code on the daily. This website you're visiting is just one of the things I have managed to craft with my coding skills.</p>
        <p>Now you're wondering what's this guys blog about? Well its just a way for me to document my life to see how far I've come, and a way for strangers to see what I'm up too.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}